* {
	box-sizing: border-box;
	padding: 0;
	margin: 0;
	font-family: monospace;
}

body {
	background-color: aliceblue;
}

#header {
	background-color: lightblue;
	padding: 10px;
	border-bottom: 1px solid black;
}

.section{
	text-align: center;
	width:75%;
	margin: 10px auto 10px auto;
}

li {
	list-style-type: none;
	padding: 10px;
	font-size: large;
}

